{{define "index02"}}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的gin项目01</title>
</head>
<body>
    <h1>test </h1>
    <p>{{.title}}</p>
</body>
</html>
{{end}}